*{
    padding: 0px;
    margin: 0px;
}
.app{
    background-color: var(--bg-color);
}

.defaultBtn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  gap: 10px;
  width: 197px;
  height: 48px;
  background: var(--btn-color);
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 5px;
  font-family: var(--font-Inter);
  cursor: pointer;
}
.defaultBtn:hover{
  background-color:#88a552 ;
}


.default_paragraph {
  font-family: var(--font-Inter);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
}

.default_heading {
  font-family: var(--font-Inter);
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  width: 522px;
  color: var(--black-color);
}

.element_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.universal_padding {
  padding: 20px 100px;
}


/* Responsive */

@media screen and (max-width: 1050px) {
  .default_heading {
    width: 623px;

    font-size: 40px;
  }
  .universal_padding {
    padding: 20px 66px;
  }
}

@media screen and (max-width: 700px) {
  .universal_padding {
    padding: 20px;
  }
  .default_heading {
    width: 300px;
    font-size: 32px;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .universal_padding {
    padding: 20px;
  }
}
